* {
    margin: 0;
    padding: 0;
}

.girisYap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("../assets/örnek3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.girisYap-container .girisYap {
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px) brightness(80%);
    background: transparent;
    border: none;
    border-radius: 30px;
}

.girisYap .tanım {
    font-size: 2.7em;
    margin-bottom: 30px;
    color: #fff;
}

form .girisYap-giris {
    margin-bottom: 15px;
    width: 416px;
}

.girisYap-giris .giris {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.girisYap-btn {
    width: 420px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.girisYap-btn:hover {
    background-color: #0056b3;
}

.beni-unutma {
    font-size: 18px;
    color: #fff;
}

.beni-unutma input {
    margin-right: 10px;
    transform: scale(1.2);
    
}

.input-error {
    border-color: red;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.girişBaşarılıMı{
    font-size: 50px;
}