* {
  box-sizing: border-box;
}

.profil{
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 40px;
}

.kapsayıcı{
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.kapsayıcıSol {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.kapsayıcıSag {
  width: 70%; 
}

.kapsayıcıSagBolum{
  display: flex;
}

.profilBilgileri{
  width: 70%;
}

.yeniSifre{
  width: 30%;
}

.yeniSifreBtn{
  width: 80%;
  height: 15%;
  border: none;
  border-radius: 30px;
  background-color: #eb7310;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 74%;
}

.kişiResmi{
  width: 150px;
  margin-left: 32%;
  margin-bottom: 30px;
}

.kapsayıcıBtnUpload{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnUpload{
  width: 50%;
}

.profilBilgi {
  display: flex;
  margin-bottom: 20px;
  width: 60%;
}

.profil-label{
  margin: 20px 10px 20px 20px;
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.btnGuncelle {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 10px 20px 20px 5px;
  background-color: #eb7310;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

