.seyahat {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 60px 250px 80px 0;
  gap: 30px;
}

.kart {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 25rem;
  border-radius: 4rem;
  box-shadow: 36px 48px 41px 12px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.kart-elemanlar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kart-eleman {
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 10px;
}

.kart-eleman2{
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 10px;
}


.ayarla {
  width: 53px;
}

.ayarla2{
  width: 90px;
}

.kart-eleman-seçilen {
  font-size: 20px;
  margin-right: 20px;
}

.kart-eleman-gelen {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.sürücü-resim img {
  width: 70px;
  margin-top: 20px;
  margin-left: 20px;
}

.iletisim{
  font-size: 25px;
 margin-left: 238px;
}