.signIn-container{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}

.signIn-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.signIn-container-form{
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.signIn-container-button {
    padding: 0.8rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signIn-container-button:hover {
    background-color: #0056b3;
}