.Input {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 1rem;
  padding: 16.5px 14px;
  border-radius: 4px;
  width: 220px;
  height: 55px;
}

.icon {
  margin-right: 4px;
  margin-top: 14px;
  font-size: 30px;
}

.yayinla-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 39px 20px 20px 5px;
  background-color: #eb7310;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}
