*{
  margin: 0;
  padding: 0;
}

.uyeOl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background:url("../assets/örnek3.jpg")
  no-repeat;
  background-position: center;
  background-size: cover;
}


.uyeOl-container .uyeOl {
  width: 600px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px) brightness(80%);
  background: transparent;
  border: none;
  border-radius: 30px;
}

.uyeOl .tanım {
  font-size: 2.7em;
  margin-bottom: 30px;
  color: #fff;
}

form .üyeOl-giriş {
  margin-bottom: 15px;
  width: 416px;
}

#ad, #soyad, #eposta, #sifre, #tekrarliSifre{
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.kayıtOl-btn {
  width: 420px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.kayıtOl-btn:hover {
  background-color: #0056b3;
}

.sözleşme {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.sözleşme .checkbox {
  margin-right: 10px;
  transform: scale(1.2);
}

.sözleşme-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sözleşme-modal h2{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.sözleşme-modal p{
  font-size: 16px;
  margin-bottom: 10px;
}

.sözleşme-içeriği {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 550px;
  height: 400px;
  overflow: auto;
}

.okudum-btn-container{
  text-align: end;
  margin-right: 20px;
}

.okudum-btn{
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.okudum-btn:hover {
  background-color: #0056b3;
}

.input-error{
  border-color:#641E16;
}

.error{
  color: #641E16;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.hesabinVarsaDiv{
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}